oldWeb/assets/web_psds_y_jpg
oldWeb/assets/botones_tipo_fondo
oldWeb/assets/__MACOSX
oldWeb/dist/img/
assets/web_psds_y_jpg
assets/botones_tipo_fondo
assets/__MACOSX
backend/rootkey.csv
backend/keyfile.js
backend/dist/*
backend/src/awsConfig.ts
backend/dist/App.js
backend/dist/App.js.map
backend/dist/App.js
backend/dist/App.js.map
backend/src/mytest.js
vue-mcat-ts/node_modules
mcat-js/package-lock.json
vue-mcat/*
test-audio/server.key
test-audio/server.cert
vue-mcat-ts/package.json
vue-mcat-ts/package-lock.json
